RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^apidocs(/.*)?$ /apidocs.php [NC,L]
RewriteRule ^charts(/.*)?$ /charts.php [NC,L]
RewriteRule ^btc(/.*)?$ /btc.php [NC,L]
RewriteRule ^xmr(/.*)?$ /xmr.php [NC,L]
RewriteRule ^sdc(/.*)?$ /sdc.php [NC,L]
RewriteRule ^xcp(/.*)?$ /xcp.php [NC,L]
RewriteRule ^dash(/.*)?$ /dash.php [NC,L]
RewriteRule ^eth(/.*)?$ /eth.php [NC,L]
RewriteRule ^etc(/.*)?$ /etc.php [NC,L]